Submission/nodered flow.json
[{"id":"3ff6f12c.4bba6e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"63266c93.759464","type":"telegram receiver","z":"3ff6f12c.4bba6e","name":"","bot":"2555afee.f933a","saveDataDir":"","filterCommands":false,"x":90,"y":80,"wires":[["5e048f59.37a95"],[]]},{"id":"c5051cf6.c1ebe","type":"telegram sender","z":"3ff6f12c.4bba6e","name":"","bot":"2555afee.f933a","x":870,"y":320,"wires":[["7b4a668d.844c68"]]},{"id":"e0cdad3b.08734","type":"watson-conversation-v1","z":"3ff6f12c.4bba6e","name":"","workspaceid":"1e6cb83e-a38f-4398-97a5-c5fa6b4ec2d1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":260,"y":200,"wires":[["b5c2a98f.98f148","9bff2097.a3189"]]},{"id":"5e048f59.37a95","type":"function","z":"3ff6f12c.4bba6e","name":"Prepare Conversation","func":"// Save user input for Discovery if needed\nflow.set('userInput',msg.payload.content);\n\n// Pass to Watson Assistant\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["e0cdad3b.08734"]]},{"id":"be49a1e5.dec11","type":"function","z":"3ff6f12c.4bba6e","name":"Prepare Assistant","func":"msg.payload = {\nchatId : \nmsg.chatId,\ntype : \"message\",\ncontent : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["c5051cf6.c1ebe"]]},{"id":"ce6b0ae4.4de8d8","type":"function","z":"3ff6f12c.4bba6e","name":"Prepare Translate","func":"msg.srclang = getLanguage(msg.payload.context.source);\nmsg.destlang = getLanguage(msg.payload.context.destination);\nmsg.payload = msg.payload.input.text;\n\nreturn msg;\n\nfunction getLanguage(lang) {\n    switch (lang.toLowerCase()) {\n        case \"french\":\n            return \"fr\";\n        case \"italian\":\n            return \"it\";\n        case \"spanish\":\n            return \"es\";\n        case \"chinese\":\n            return \"zh\";\n    }\n    return \"en\";\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["15e80e6a.4badf2"]]},{"id":"1db62cdc.d8a363","type":"function","z":"3ff6f12c.4bba6e","name":"ResetTranslate","func":"msg.payload = \"hi\";\nmsg.params = {\n    context : {}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":100,"wires":[["16425235.5b9bee"]]},{"id":"7b4a668d.844c68","type":"debug","z":"3ff6f12c.4bba6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"87d2cd99.f7932","type":"function","z":"3ff6f12c.4bba6e","name":"Prepare Translation to Telegram","func":"msg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":220,"wires":[["c5051cf6.c1ebe"]]},{"id":"16425235.5b9bee","type":"watson-conversation-v1","z":"3ff6f12c.4bba6e","name":"","workspaceid":"1e6cb83e-a38f-4398-97a5-c5fa6b4ec2d1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":780,"y":160,"wires":[[]]},{"id":"b5c2a98f.98f148","type":"debug","z":"3ff6f12c.4bba6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"aa55f5f6.dba098","type":"telegram command","z":"3ff6f12c.4bba6e","name":"","command":"","bot":"2555afee.f933a","strict":false,"hasresponse":true,"useRegex":true,"x":90,"y":20,"wires":[[],[]]},{"id":"9bff2097.a3189","type":"switch","z":"3ff6f12c.4bba6e","name":"Test Translate","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"translate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":280,"wires":[["ce6b0ae4.4de8d8"],["2c9132a4.1d61de"]]},{"id":"15e80e6a.4badf2","type":"watson-translator","z":"3ff6f12c.4bba6e","name":"","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"","apikey":"","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":"lparams","service-endpoint":"","x":550,"y":160,"wires":[["87d2cd99.f7932","1db62cdc.d8a363"]]},{"id":"a3d040d3.1b3f7","type":"function","z":"3ff6f12c.4bba6e","name":"Prepare Discovery","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = flow.get('userInput');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":440,"wires":[["b7829d13.3f22d"]]},{"id":"7eb0c04c.21ba8","type":"watson-discovery-v1","z":"3ff6f12c.4bba6e","name":"","environmentname":"","environmentId":"11c80370-930e-4d80-8b4b-306bf2481235","collectionId":"d65e2aa4-80d8-4814-b4a7-a6cf51182748","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":false,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":580,"y":440,"wires":[["89ce7842.93c878"]]},{"id":"89ce7842.93c878","type":"function","z":"3ff6f12c.4bba6e","name":"Parse result","func":"var results = msg.search_results.matching_results;\nif (results > 0) {\n    var answer = msg.search_results.results[0].text;\n\n    msg.payload = {\n            chatId : msg.chatId,\n            type : \"message\",\n            content : results\n        };\n    node.send(msg);\n\n    // Use setTimeout function to ensure small delay in sending\n    // 2nd message to ensure answer arrives after question.\n\n    setTimeout(function (){\n        msg.payload = {\n                chatId : msg.chatId,\n                type : \"message\",\n                content : \"Job found: \" + answer\n            };\n        node.send(msg);\n    }, 500);\n} else {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : \"Sorry, I couldn't find any job that fit your description. Maybe you could try rephrasing it?\"\n    };\n    node.send(msg);\n    return;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":440,"wires":[["c5051cf6.c1ebe"]]},{"id":"2c9132a4.1d61de","type":"switch","z":"3ff6f12c.4bba6e","name":"Test Intent","property":"payload.output.nodes_visited[0]","propertyType":"msg","rules":[{"t":"neq","v":"Anything else","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":380,"wires":[["ce2fa14.c83c36"],["a3d040d3.1b3f7"]]},{"id":"ce2fa14.c83c36","type":"switch","z":"3ff6f12c.4bba6e","name":"Test Confidence","property":"payload.intents[0].confidence","propertyType":"msg","rules":[{"t":"gt","v":"0.8","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":380,"wires":[["be49a1e5.dec11"],["a3d040d3.1b3f7"]]},{"id":"b7829d13.3f22d","type":"watson-discovery-v1","z":"3ff6f12c.4bba6e","name":"MonstarScrape","environmentname":"","environmentId":"11c80370-930e-4d80-8b4b-306bf2481235","collectionId":"4162be34-0210-4d17-afeb-5f8cce81d9ec","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"56","passages":false,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"","x":610,"y":520,"wires":[["547393f.3cab66c","fbe6dbaf.89aac8"]]},{"id":"547393f.3cab66c","type":"debug","z":"3ff6f12c.4bba6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":600,"wires":[]},{"id":"fbe6dbaf.89aac8","type":"function","z":"3ff6f12c.4bba6e","name":"","func":"var results = msg.search_results.matching_results;\n//best matching response from Discovery\nif (results > 0) {\n//Construct a list of the first 3 search results\n    var i;\n    var title\n    var url\n    var desc\n    var skill\n    var salary\n    var contract\n    var answersList=\"\"\n    var closing=\"Please submit your resume and application to jeffrey@oaktree.com.sg , only short-listed candidates will be notified\";\nfor (i = 0; i < 6  ; i++) {\n        title = msg.search_results.results[i].Job_Title;\n        url = msg.search_results.results[i].Job_URL;\n        desc = msg.search_results.results[i].Job_Description;\n        skill = msg.search_results.results[i].Skills;\n        salary = msg.search_results.results[i].Salary;\n        contract = msg.search_results.results[i].Contract_Length;\n        answersList += \"Job Title: \" + title + \"\\n\" + desc + \"\\n\"  + skill + \"\\n\" + \"Salary: \" + salary + \"\\n\" + \"Contract length: \" + contract + \"\\n\" + \"Job URL: \" + url + \" \\n\\n\" ;\n    }\n// Use setTimeout function to ensure small delay in sending\n    // 2nd message to ensure answer arrives after question.\nsetTimeout(function (){\n\n        msg.payload = {\n                chatId : msg.chatId,\n                type : \"message\",\n                content : \"Thank you for waiting, this information might be useful: \\n\\n\" + answersList + \"\\n \\n\" + closing\n            };\n        node.send(msg);\n}, 500);\n} else {\n    msg.payload = {\n        chatId : msg.chatId,\n        type : \"message\",\n        content : \"Sorry, I couldn't find any job that fit your description. Maybe you could try rephrasing it?\"\n    };\n    node.send(msg);\n    return;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":956.765625,"y":573.75,"wires":[["c5051cf6.c1ebe"]]},{"id":"2555afee.f933a","type":"telegram bot","z":"","botname":"CS Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]